/* Tags */
body
{
	background-color:#CDCDCD;
}

h3
{
	text-align: center;
}

/* Classes */
.content
{
	position: fixed;
	width: 1200px;
	height: 100%;
	box-sizing: border-box;
	float: center;
	margin-left:16%;
}

.sideicons
{
	
}

/* IDs */
#sidebar
{
	position: fixed;
	width: 200px;
	height: 95%;
	background-color: #FCFCFC;
	box-sizing: border-box;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	box-shadow: 10px 10px 5px grey;
	text-align: center;
}

#page
{
	width: 930px;
	height: 95%;
	background-color: #FCFCFC;
	box-sizing: border-box;
	float: right;
	padding: 20px;
	margin-top: 20px;
	margin-right: 20px;
	box-shadow: 10px 10px 5px grey;
}
