/* Tags */
body
{
	/* background-image: url("img/background1.jpg"); */
	background-color: #090;
}

h3
{
	text-align: center;
}

img
{
	
}

/* Classes */
.content
{
	position: fixed;
	width: 1200px;
	height: 100%;
	box-sizing: border-box;
	float: center;
	margin-left:16%;
}

.sideicons
{
	padding-left:10px;
	padding-right:10px;
}

/* IDs */
#sidebar
{
	position: fixed;
	width: 220px;
	height: 95%;
	background-color: #FAFAFA;
	box-sizing: border-box;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	box-shadow: 10px 10px 5px black;
	text-align: center;
}

#page
{
	width: 900px;
	height: 95%;
	background-color: #FAFAFA;
	box-sizing: border-box;
	float: right;
	padding: 20px;
	margin-top: 20px;
	margin-right: 20px;
	box-shadow: 10px 10px 5px black;
}
